footer.footer {
  background: linear-gradient(135deg, #0b0b0b, #111);
  color: #ccc;
  padding: 50px 20px;
  border-top: 2px solid #8ac926;/*5390d9*/
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.6);
  font-family: "Poppins", sans-serif;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 60px;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.footer-section {
  flex: 1 1 300px;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-section h3 {
  color: #8ac926;
  margin-bottom: 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  text-align: center;
}

.footer-section h3::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: #8ac926;
  margin: 8px auto 0 auto;
  border-radius: 5px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  line-height: 1.8;
  margin: 0;
  text-align: center;
}

.footer-section li {
  color: #ccc;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-section li:hover {
  color: #42f5b6;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 15px;
}

.social-icons img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.social-icons img:hover {
  transform: scale(1.15);
  box-shadow: 0 0 10px #8ac926;
}

.terminos {
  margin-top: 20px;
  font-size: 13px;
  text-align: center;
}

.terminos a {
  color: #42f5b6;
  text-decoration: none;
  transition: color 0.3s;
}

.terminos a:hover {
  color: #8ac926;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-section {
    min-width: 100%;
  }
}
