

.presentacion {
  background: #000; /* Fondo negro puro */
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6);
  color: #fff;
  transition: transform 0.3s ease, background 0.3s ease;
  backdrop-filter: none; /* quitamos el desenfoque */
}

.presentacion:hover {
  transform: translateY(-5px);
  background: #0d0d0d; /* Un negro ligeramente más claro al pasar el mouse */
}

.presentacion h2 {
  color: #8ac926; /* Verde característico del tema */
  font-weight: 700;
}

.presentacion p {
  color: #e6e6e6;
  font-size: 1.1rem;
  line-height: 1.7;
  text-align: justify;
}
.btn-comenzar{
  font-family: 'Poppins', sans-serif;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    background: linear-gradient(135deg, #8ac926, #99d98c); /* 80ffdb, 5390d9*/
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    /* Asegura que el color se aplique correctamente a la etiqueta <a> */
    display: inline-block; 
}
.btn-comenzar:hover{
  transform: scale(1.05);
    background: linear-gradient(135deg, #5c8619, #618a59);
    box-shadow: 0 0 15px rgba(24, 217, 46, 0.3);
    color: #525252;
}
.remarcado{
color:#8ac926 ;
}
